@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
:root {
    --emerald:#009B77;
    --turquoise:#45B8AC;
    --sand:#DFCFBE;
    --blue:#7FCDCD;
}
*{
    font-family: 'Montserrat', sans-serif;
    margin: 5%;
    box-sizing: border-box;
}

body {
    background-color: var(--emerald);
}

h1, h2, h3, h4 {
    font-weight: 700;
    text-decoration: underline;
    background-color: var(--sand);
    font-size: 40px;
    padding: 20px;
    margin: 1% 5%;
}
p {
    background-color: var(--turquoise);
}
ul {
    background-color: var(--blue);
}

a {
    color: black;
    background-color: var(--blue);
    font-size: 50px;
    margin-top: 5%;
}
a:hover {
    background-color: var(--turquoise);
    color: white;
}